.banner {
    position: relative;
    background-image: url("/assets/images/desk-apple.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 730px; 
    &__text-content {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align: center;
        color: #F2F2F2;
    }
    &__title {
        font-size: 3.8rem;
        font-weight: 200;
        margin: 10px 0 10px;
    }
    &__subtitle {
        font-size: 2rem;
        font-weight: 100;
    }
}
